.headZone{
	background-color: orange;
	height: 150px;
	font-family: "microsoft yahei";
	font-size: 40px;
	margin-top: 50px;
}

#logo{
	width: 120px;
	height: 120px;
}

#logoZone{
	float: left;
}
#name{
	float: left;
}

.branchBox{
	font-family: "microsoft yahei";
	width: 33.33%;
	height: 500px;
	float: left;
	text-align: center;
	color: #000000;
	position: relative;
}
#calc{
	background-color:#28A4C9
}

#blog{
	background-color: #B92C28;
}
#gallery{
	background-color: #CE8483;
}
}
.hoverShow{
	display: none;
}
.hoverImg{
	width: 100%;
}
.littleZone{
	width: 33.33%;
	height: auto;
	float: left;
	text-align: center;
	font-size: 30px;
}
.littleZone a{
	text-decoration: none;
	color: #222222;
}
#calcFont{
	/*background-color: #4CAE4C;*/
}
.articleZone{
	width: 65%;
	float: left;
}
.classZone{
	width: 25%;
	float: left;
	background-color: #FFFFFF;
	margin-left: 50px;
	margin-top: 40px;
}
.article{
	background-color: white;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 10px #888888;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: '"microsoft yahei";

}
body{
	background-color: #EEEEEE;
}
.date{
	margin-top: 20px;
	font-family: cursive;
	font-weight: bold;
}
hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.article a{
	text-decoration: none;
	color: #000000;
}
.article a:hover{
	color: #285E8E;
}
.classZoneTitle{
	/*text-align: center;*/
}
.classZoneContent{
	list-style: none;
	font-size: 1.5em;
	color: #2A6496;
	padding-left: 10px;
}
.classZone{
	padding-left: 10px;
	box-shadow: 10px 10px 10px #888888;
}
.footer{
	background-color: #1F1F1F;
	text-align: center;
	color: #FFFFFF;
	height: 250px;
	float: left;
	width: 100%;
	padding-top: 20px;
}
.connect{
	height: 150px;
	text-align: right;
}
.connect ul{
	list-style: none;
}
.connect ul li{
	float: right;
}
#wechatLogo{
	margin-left: 50px;
	margin-top: 100px;
	float: left;
	box-shadow: 5px 5px 5px #888888;
	font-family: "microsoft yahei";
}
.codeZone{
	padding-left: 20px;
}
.articleContent{
	padding-left: 2em;
}


/*gallrtyTest*/
.example-image{
	width: 300px;
}
.example-image-link{
	display:inline-block;
	padding:4px;
	margin:0 0.5rem 1rem 0.5rem;
	background-color:#EEEEEE;
	line-height:0;
	-webkit-transition:background-color 0.1s ease-out;
	-moz-transition:background-color 0.1s ease-out;
	-o-transition:background-color 0.1s ease-out;
	transition:background-color 0.1s ease-out;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-ms-border-radius:6px;
	-o-border-radius:6px;
	border-radius:6px
}
.example-image-link:hover{
	background-color:#4ae;
}
.galleryZone{
	width: 1060px;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}
.timeLine{
	position: fixed;
	left: -10px;
	top: 50%;
}