.headZone{
	background-color: orange;
	height: 150px;
	font-family:"楷体";
	font-size: 40px;
	margin-top: 30px;
}

#logo{
	width: 120px;
	height: 120px;
}

#logoZone{
	float: left;
}
#name{
	float: left;
}

.branchBox{
	width: 33.33%;
	height: 500px;
	float: left;
	text-align: center;
	color: #000000;
	position: relative;
}
#calc{
	background-color:#28A4C9
}

#blog{
	background-color: #B92C28;
}
#gallery{
	background-color: #CE8483;
}
.huigun{
	float: left;
	clear: both ;
}
.hoverShowCalc{
	display: none;
	/*background-color: #8A6D3B;*/
	/*bottom: 0px;*/
	/*position: absolute;*/
}
.hoverShowBlog{
	display: none;
}
.hoverShowGallery{
	display: none;
}
.hoverImg{
	width: 100%;
}
.littleZone{
	width: 33.33%;
	height: auto;
	float: left;
	text-align: center;
	font-size: 30px;
}
.littleZone a{
	text-decoration: none;
	color: #222222;
}
#calcFont{
	/*background-color: #4CAE4C;*/
}
.articleZone{
	width: 65%;
	float: left;
}
.classZone{
	width: 25%;
	float: left;
	background-color: #FFFFFF;
	margin-left: 50px;
	margin-top: 40px;
}
.article{
	background-color: white;
	margin-top: 40px;
	margin-left: 30px;
	margin-bottom: 20px;
	box-shadow: 10px 10px 10px #888888;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-family: '楷体';

}
body{
	background-color: #EEEEEE;
}
.date{
	margin-top: 20px;
	font-family: cursive;
	font-weight: bold;
}
hr{
	margin-top: 5px;
	margin-bottom: 5px;
}
.article a{
	text-decoration: none;
	color: #000000;
}
.article a:hover{
	color: #285E8E;
}
.classZoneTitle{
	/*text-align: center;*/
}
.classZoneContent{
	list-style: none;
	font-size: 1.5em;
	color: #2A6496;
	padding-left: 10px;
}
.classZone{
	padding-left: 10px;
	box-shadow: 10px 10px 10px #888888;
}
.footer{
	background-color: #1F1F1F;
	text-align: center;
	color: #FFFFFF;
	height: 250px;
	float: left;
	width: 100%;
	padding-top: 20px;
}
.connect{
	height: 150px;
	text-align: right;
}
.connect ul{
	list-style: none;
}
.connect ul li{
	float: right;
}
